@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
  }

  .chat-box {
    @apply relative z-10 max-w-xl w-full text-center cursor-pointer rounded-[0.5rem] border-[2px] 
    text-white p-5 ms:text-[15px] text-[14px] mt-3;
    border-color: #314158;
  }

  .chat-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #314158;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
    
  }

  .bot-buttons {
    @apply rounded-full flex items-center justify-center w-10 h-10 border-[2px] bg-black;
  }

  .side-button {
    @apply rounded-full hover:border-green-600 p-2 border-blue-700 border-[2px] fixed left-1 sm:left-3 text-blue-200 z-[10000] bg-black;
  }
}

/*
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠟⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠻⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠛⠉⠁⠀⠀⢀⣠⣤⣤⣤⣤⣤⣄⣀⠀⠀⠀⠀⠀⠈⠉⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠀⠀⠀⠀⣠⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⡀⠀⠀⠀⠀⠀⠀⠉⠛⠻⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠃⢀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡄⠀⢠⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣧⡀⠃⢠⡄⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣌⣹⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⢠⣾⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡷⠄⠈⠁⠀⢸⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⠿⣿⣿⣿⡄⠀⠀⠀⢀⡴⢿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣶⣦⡀⠀⢸⣿⣿⣿⣷⡄⠀⠈⠉⠻⠟⣿⣿⣿⠿⠟⠁⠀⠀⢐⣶⣾⣿⣿⣿⡄⠀⠀⢀⣤⡀⢹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠠⣿⣧⡁⢀⣿⣿⣿⡿⠟⠛⠉⠀⠀⠀⣠⣿⣿⠀⠀⠀⠀⠀⠈⠙⠻⢿⣿⣿⣿⡇⠀⠐⣿⠉⢹⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣷⣿⠃⣼⣿⣿⣧⣴⣾⠷⠆⠀⠀⣰⣿⣿⣿⠀⠀⠰⣿⠷⠾⠷⢢⣄⣀⢹⣿⣏⠀⠰⣷⠀⡈⢠⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣏⢸⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⡇⠂⠀⠹⣿⣿⣿⣿⣿⣿⣾⣿⡇⠀⠀⢹⠰⠀⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⣿⡎⢿⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣿⣿⡀⠀⢻⣿⣿⣿⣿⣿⣿⣿⡇⠀⢠⠀⠀⢸⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣦⠻⣿⣿⠇⢻⣿⣿⣿⣿⣿⡿⢡⣾⠛⠛⠿⠟⠛⠿⠻⠇⠀⠙⢿⣿⣿⣿⣿⣿⡇⠀⠻⣠⠃⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⣈⣉⣄⢸⣿⣿⣿⣿⣿⣠⣿⣿⣿⣿⣶⣦⣀⣀⠀⣶⡿⢀⠈⢿⡇⠸⡏⣿⣇⠀⠞⢁⣼⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢸⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣯⣤⣿⣿⣾⣿⣿⡏⢠⡈⡇⠀⡿⣿⣿⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⢸⣿⣿⣿⣿⠃⢀⣬⣉⣭⣤⣤⣶⣦⣤⣄⣄⣀⠀⢸⣿⡇⢠⣿⣿⠟⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡧⢸⣭⣿⣿⣿⣷⣿⣿⣿⣿⣿⠉⣉⣉⣉⣉⣿⡿⠀⣾⡟⢁⣾⣿⠏⠀⣶⡸⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡷⢈⣉⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣾⣿⣀⣼⡿⠋⢠⡆⢻⣧⠘⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣡⡾⢹⣿⣯⡝⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣭⣿⣿⠟⠋⠀⢠⠏⢀⠞⢻⣷⡜⢿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⠿⠟⢛⣩⣭⣴⣾⣿⣧⠈⣿⣿⣿⣦⣙⠻⠿⠿⠿⠿⠿⠛⠉⠀⠙⠛⠋⠉⠀⢀⡴⠃⣠⡾⠀⣾⠟⠛⢶⣿⣿⣿⣿⣿⣿
⠟⣛⣫⣭⣥⣶⣾⣿⣿⣿⣿⣿⣿⣿⡆⢹⣿⣿⣿⣿⣶⣄⠀⠀⠀⠐⠚⠛⠛⠉⠀⠀⢀⣴⠟⢀⣾⣿⣿⣾⣍⡷⠀⠀⠈⠛⠻⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡙⢿⣛⢻⣿⣿⣿⣿⣶⢄⡀⠘⠀⠀⢠⡴⠛⢁⣴⣿⣿⣿⣿⣧⣤⡅⠀⠀⠀⠀⠀⠈⠛⠛
⢿⣿⠿⠿⠿⠿⠿⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡙⠷⠌⠙⠛⠛⠀⠀⠀⣠⡴⠞⠉⠀⣴⡿⣿⣿⣿⢿⣿⣿⡿⢳⣧⠀⠀⠀⠀⠀⠀⠀
*/