@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Apply the fade-in effect */
  .fade-in {
    animation: fadeIn 0.5s ease-in forwards; /* Use the fadeIn keyframe animation */
  }

  .chat-box {
    @apply relative z-10 max-w-xl w-full text-center cursor-pointer rounded-[0.5rem] border-[2px] 
    border-gray-800 text-white p-5 ms:text-base text-[14px] mt-3;
  }

  .chat-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #314158;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
  }
}