@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Main page */
    .front-page-main {
        @apply flex flex-col gap-3 sm:row-start-2 items-start;
    }
    .nav-link {
        @apply inline-flex flex-col md:flex-row items-center gap-2 overscroll-none text-black;
    }
    
    @media (min-width: 1200px) { 
        .nav-link:hover {
            @apply underline underline-offset-4;
        }
    }
    .nav-text{
        @apply text-xs md:text-base;
    }

    .social-media {
        @apply flex items-center justify-center w-9 h-9 sm:w-12 sm:h-12 rounded-full 
            bg-gray-300 transition-all duration-300 ease-in-out hover:bg-gray-400;
    }

    .social-media i {
        @apply text-black transition-colors duration-300 ease-in-out text-xl sm:text-2xl;
    }

    .footer-nav {
        @apply row-start-3 flex gap-5 sm:gap-5 flex-wrap items-center justify-center border-t-2 border-blue-700 pt-2 font-[family-name:var(--font-geist-sans)];
        /* background-color: red; */
    }

    .profile-container {
        @apply flex flex-col items-center gap-2;
    }

    .profile-name {
        @apply text-4xl font-bold text-center font-[var(--font-primary)] font-Jura;
    }

    .profile-title {
        @apply text-xl text-blue-700 text-center font-[var(--font-primary)] font-Jura;
    }

    .profile-description,
    .profile-skills {
        @apply text-[15px] text-center font-[var(--font-primary)] w-full md:w-3/4 font-Jura;
    }

    .work-summary {
        @apply text-center font-Jura mr-auto ml-auto w-full md:w-3/4 text-[15px];
    }

    .social-links {
        @apply flex justify-center space-x-3 sm:space-x-5 flex-wrap mr-auto ml-auto;
    }

    .social-icon {
        @apply hover:bg-gray-400 p-3 rounded-full transition duration-300 ease-in-out bg-gray-300;
    }

    .footer {
        @apply w-full text-center mt-6;
    }

    .copyright {
        @apply bg-black text-center text-white font-Jura pb-3 text-xs;
    }

    .grid-change-button {
      @apply hidden ms:flex items-center justify-center p-2 w-fit h-fit text-white rounded-lg mr-3;
    }

    .grid-change-button-icon {
      @apply hover:text-blue-700;
    }

    .speech-bubble {
      @apply font-Jura relative no-underline px-2 py-[5px] bg-blue-700 rounded text-[15px];
      margin-bottom: 16px;
      margin-right: 20px;
      z-index: 100;
      height: auto;
    }
    
    .speech-bubble:after {
      --shift: 17px;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: var(--shift) solid transparent;
      border-top-color: #1d4ed8;
      border-bottom: 0;
      border-right: 0;
      margin-left: -10px;
      margin-bottom: -16px;
      z-index: 10;
    }

    .jaskier-button {
      @apply flex items-center justify-center rounded-full bg-blue-700 hover:bg-blue-600 w-8 h-8 sm:w-10 sm:h-10 text-white;
    }

    .tex sub, .latex sub, .latex sup {
      text-transform: uppercase;
    }

    .tex sub, .latex sub {
      vertical-align: 0.1ex;
      margin-left: -0.1667em;
      margin-right: -0.125em;
    }
    
    .tex, .latex, .tex sub, .latex sub {
      font-size: 1em;
    }
    
    .latex sup {
      font-size: 0.85em;
      vertical-align: -0.15em;
      margin-left: -0.3em;
      margin-right: -0.15em;
    }
}